.contact-us{
background-image:url(../Media/contact.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* background-color: cadetblue; */
display: flex;
flex-direction: column;
gap: 25px;
padding:25px 20px;

}

.contact-us h3{
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  
}

.contact-us h5{
  color: var(--white);
  font-size: 13px;
  font-weight: 400;
}
.contact-us h6{
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  border-bottom:2.5px solid var(--red);
  width: fit-content;
  
}
.contact-us h4{
 color: var(--white);
font-size: 18px;
font-weight: 400;
}
.contact-form h3{
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

form{
/* background-color: blueviolet; */
font-family: Merriweather;
display: flex;
flex-direction: column;
gap: 20px;
border: 0px;
}

.contact-us input{
  background-color: var(--form-color);
  width: 378px;
  height: 55px;
  font-size: 18px;
  font-weight: 400;
  border: 0px;
}
.form-icons{
  background-color: var(--blue);
  color: var(--white);
  height: 55px;
  width: 50px;

}
.form-div{
  display: flex;
}

.txtarea{
  width: 428px;
  height: 202px;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--form-color);
  border: 0px;

}
.areatxt{
  position: relative;
}
.areatxt #txt-icon{
  position: absolute;
}
.phone , .socials{
  
display: flex;
flex-direction: column;
gap: 10px;

}

.contact-form p{
/* background-color: aqua; */
color: var(--white);
text-decoration:none;
font-size: 18px;
font-weight: 400;
padding-bottom:15px;
}
.contact-us .social-links .icon{
color: var(--red);
background-color: var(--white);
border: 0px;
}