.video{
display: flex;
flex-direction: column;
gap: 20px;
padding: 25px 20px;
}
.founder{
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px;
  
}
.founder h2{
font-size: 20px;
font-weight: 700;
color: var(--white);
}

.video h3{
 color: var(--white);
font-size: 14px;
font-weight: 400;
}

.video img{
width: 96px;
height: 39px;
color: var(--white);
/* background-color: aqua; */
}

.video h4,h5{
font-size: 14px;
font-weight: 700;
color: var(--white);

}
.image-container img{
  
  width: 390px;
  height: 325px;
  border-radius: 5px;
  display: flex;
  position: absolute;
} 
.vid-container{
  position: relative;
  padding:25% 20%;
  width: 390px;
  height: 325px;
 
}

.vid-icon{
  width: 24px;
  height: 24px;
  color: var(--white);
}

.play-btn{
width: 80px;
height: 80px;
border:0.5px solid var(--red);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--red);

}
.image-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25% 20%;

  
  
  
}

.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
